@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

// COLORS

$color-primary: #4ABDAC;
$color-tertiary: #F7B733;
$color-secondary: #FC4A1A;
$color-bg-footer: #222222;
$color-gray: #9B9B9B;
$color-white: #FFFFFF;
$color-black: #000000;
$color-gray-light: #F2F2F2;

// BREAKPOINTS

$xxx-small: 375px;
$xx-small: 450px;
$x-small: 576px;
$small: 768px;
$medium: 1024px;
$large: 1280px;
$x-large: 1440px;
$xx-large: 1920px;

// FONT FAMILY

$open-sans: 'Open Sans', sans-serif;
$oswald: 'Oswald', sans-serif;

// FONT SIZES

$font-xx-large: 10rem;
$font-x-large: 6.2rem;
$font-large: 2.8rem;
$font-medium: 2rem;
$font-small: 1.8rem;
$font-x-small: 1.4rem;
$font-xx-small: 1.3rem;

// LINE HEIGHT

$lineHeight-xx-large: 13.5rem;
$lineHeight-x-large: 7.8rem;
$lineHeight-large: 4.1rem;
$lineHeight-medium: 2.5rem;
$lineHeight-small: 2.6rem;
$lineHeight-x-small: 1.4;
$lineHeight-xx-small: 5rem;

// BACKGROUND
